body {
  text-align: center;
  padding-top: 40px;
  background-color: #F1E1E7;
  font-family: 'Poiret One', cursive;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #8C294F;
}

h2 {
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 30px;
  color: #8C294F;
}

i {
  padding-left: 15px;
  font-size: 30px;
}

section {
  font-size: 30px;
  padding-top: 20px;
}

form {
  font-size: 20px;
}
