body {
  text-align: center;
  padding-top: 40px;
  background-color: #F1E1E7;
  font-family: 'Poiret One', cursive;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #900C3F;
}

h2 {
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 30px;
  color: #900C3F;
}

i {
  padding-left: 15px;
  font-size: 30px;
}

#off-button {
  visibility: hidden;
}

section {
  font-size: 30px;
  padding-top: 20px;
}
