body {
  text-align: center;
  padding-top: 40px;
  background-color: #F1E1E7;
  font-family: 'Poiret One', cursive;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #900C3F;
}

h2 {
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 30px;
  color: #900C3F;
}

button {
  border-width: 10px;
  padding: 0px 5px 0px 5px;
  border-style: inset;
}

section {
  font-size: 30px;
  padding-top: 20px;
}
